.filter-container {
  width: 100%;
  position: relative;
  display: inline-block;
  color: #969696;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-weight: bold;
}
.filter {
  display: inline-flex;
  align-items: center;
  border: 5px solid #2e2e2e;
  border-radius: 15px;
  padding: unset;
}
li {
  list-style: none;
  cursor: pointer;
  padding: 5px 25px;
  border-right: 3px solid #2e2e2e;
}

.search-bar {
  display: inline-flex;
  padding: 0;
  margin: 0;
  height: 40px;
}

.search-bar input {
  background: #2e2e2e;
  border: unset;
  color: white;
  padding-left: 40px;
  border: 4px solid #111;
  border-radius: 10px;
}
.selected {
  color: #684dd4;
}

li img {
  margin-right: 10px;
  position: relative;
  top: 3px;
}

.icon {
  position: absolute;
  transform: translateY(10px);
  padding-left: 10px;
}

@media only screen and (max-width: 767px) {
  .filter-container {
    font-size: 0.8rem;
  }
  li {
    display: flex;
    align-items: center;
    padding: 0px 10px;
  }
  li > img {
    position: unset;
    margin-right: 5px;
  }
  .search-bar {
    width: 95px;
  }
  .search-bar > input {
    width: 45px;
  }
}